/ChartProyectJSF-ejb/build/
/ChartProyectJSF-ejb/dist/
/ChartProyectJSF-war/build/
/build/
/ChartProyectJSF-war/dist/
/dist/
/nbproject/private/
/ChartProyectJSF-ejb/nbproject/private/
/ChartProyectJSF-war/nbproject/private/